body {
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-align: center;
  margin-top: 80px;
}

h3 {
  margin-top: 50px;
  margin-left: 20px;
}

/* Styling untuk tabel */
table {
  border-collapse: collapse; /* Menghilangkan garis ganda */
  width: 50%; /* Membuat tabel memenuhi lebar */
  margin-left: 20px;
  margin-top: 20px; /* Menambahkan jarak tabel dari elemen atas */
  font-size: 14px; /* Ukuran teks */
}

/* Styling untuk header tabel */
th {
  background-color: #f4f4f4; /* Warna latar belakang header */
  border: 1px solid #ddd; /* Border di setiap header */
  padding: 10px; /* Jarak di dalam sel header */
  text-align: center; /* Posisi teks di tengah */
  font-weight: bold; /* Membuat teks tebal */
}

/* Styling untuk sel data */
td {
  border: 1px solid #ddd; /* Border di setiap sel */
  padding: 10px; /* Jarak di dalam sel */
  text-align: left; /* Posisi teks rata kiri */
}

/* Warna bergaris untuk setiap baris genap */
tr:nth-child(even) {
  background-color: #f9f9f9; /* Warna abu-abu muda */
}

/* Efek hover pada baris */
tr:hover {
  background-color: #f1f1f1; /* Warna ketika di-hover */
}
